
.bgimage{

	background-image: url('../images/Chicago.jpg');
	background-position: center;
	background-size: cover;
	height: 200px;
}
.myimg{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block;
	padding-bottom:10px; 
}
.items{
	text-align: center;
}
@media(min-width: 1200px){
	.myimg{
		width: 100px;
		height: 100px;
		margin: 0 auto;
		display: block;
		padding-bottom:10px; 
	}
	.items{
		text-align: left;
	}
}
.main p{
	text-align: center;
}	